ansicolors==1.1.8
feedgen==0.9.0
feedparser==5.2.1
falcon==2.0.0
gevent==1.4.0
requests==2.23.0
lxml==4.5.1
cssselect==1.1.0
psycopg2==2.8.5
apscheduler==3.6.3
pytz==2020.1
gunicorn==20.0.4
protobuf==3.12.1