ansicolors~=1.1.8
feedparser~=6.0.2
requests~=2.25.0
lxml~=4.6.3
cssselect~=1.1.0
psycopg2~=2.8.6
pytz==2021.1
protobuf==3.15.8
mypy==0.902
mypy-protobuf~=2.4
sentry-sdk==1.1.0
git+https://github.com/tk0miya/testing.postgresql.git#egg=testing.postgresql
pytest~=6.2.4
responses~=0.13.3
pytest-cov~=2.12.1
pydantic~=1.8.2
ratelimit~=2.2.1

# stubs
types-pytz~=0.1.1
types-protobuf~=0.1.12
types-requests~=0.1.11
