name: Deploy to a dokku server

on:
  workflow_run:
    workflows: [ Unit tests ]
    branches: [ master ]
    types:
      - completed
  workflow_dispatch:

jobs:
  check-dokku:
    name: Check if dokku secrets exist
    runs-on: ubuntu-latest
    environment: manga-tracker
    outputs:
      use_dokku: ${{ steps.setvar.outputs.use_dokku }}
    steps:
      - id: setvar
        run: |
          if [[ "${{ secrets.DOKKU_REMOTE_URL }}" != "" ]]; \
          then
            echo "Dokku host defined."
            echo "use_dokku=true" >> "$GITHUB_OUTPUT"
          else
            echo "Dokku host not defined"
            echo "use_dokku=false" >> "$GITHUB_OUTPUT"
          fi
  publish:
    needs: [check-dokku]
    if: (github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success') && needs.check-dokku.outputs.use_dokku == 'true'
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: manga-tracker
      url: https://manga.gachimuchi.men

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up qemu
        uses: docker/setup-qemu-action@v3

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/manga-tracker:${{ github.sha }}

      - name: Push to dokku
        uses: dokku/github-action@v1
        with:
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          git_remote_url: ${{ secrets.DOKKU_REMOTE_URL }}
          deploy_docker_image: ${{ secrets.DOCKERHUB_USERNAME }}/manga-tracker:${{ github.sha }}
