name: Unit tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'scripts/**'
      - '.github/workflows/dokku.yml'
      - 'Procfile'
      - 'Dockerfile'
  pull_request:
  workflow_dispatch:

jobs:
  js-tests:
    defaults:
      run:
        working-directory: web
    name: Web app tests
    runs-on: ubuntu-latest
    environment: tests
    container: node:24-bullseye

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:17.4
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v5
    # Force https use since ssh does not work
    - run: 'git config --global url."https://github.com/".insteadOf ssh://git@github.com/'
    - run: 'git config --global url."https://".insteadOf ssh://'

    - uses: pnpm/action-setup@v4

    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml

    - name: Install deps
      run: |
        pnpm install --frozen-lockfile
        cd .. && pnpm install --frozen-lockfile

    - name: Initialize database
      run: cd .. && pnpm migrate:up && pnpm migrate:test

    - name: Run vitest and generate coverage
      continue-on-error: true
      id: vitest
      run: pnpm test:ci

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        flags: frontend
        name: Frontend coverage
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Fail if vitest tests failed
      if: steps.vitest.outcome != 'success'
      run: exit 1

    env:
      GITHUB_ACTIONS: 'true'
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      DB_NAME_TEST: postgres
      DB_USER: postgres
      PGPASSWORD: postgres

      ELASTIC_NODE: http://localhost:9200
      HOST: 'http://localhost:3000'

      REDIS_URL: redis:6379
      DEBUG: debug,session-*,auth-info
      TZ: UTC
      LEVEL: silent
      SKIP_POSTINSTALL: true
      IS_CI: true
      DISCORD_CLIENT_ID: test
      DISCORD_CLIENT_SECRET: test

  python-tests:
    name: Scraper tests
    runs-on: ubuntu-latest
    environment: tests
    container: python:3.13

    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:17.4
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.28
        env:
          discovery.type: single-node
        options: >-
          --health-cmd "curl http://localhost:9200/_cluster/health"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
        ports:
          - 9200:9200

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --group dev

      - name: Lint with ruff
        run: uv run ruff check

      - name: Type checks with mypy
        run: uv run mypy --config-file mypy.ini ./src

      - name: Install db migration dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Test with pytest
        run: uv run pytest --cov=./src --cov-report=xml --junit-xml=./junit.xml src

      - name: Uninstall coveragepy
        continue-on-error: true
        run: uv run pip uninstall -y coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: scraper
          name: Scraper coverage
          files: './coverage/coverage.xml,./junit.xml'
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

    env:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      DB_NAME_TEST: postgres
      DB_USER: postgres
      PGPASSWORD: postgres
      DB_PASSWORD: postgres
      NO_TEMP_DB: TRUE
      ELASTIC_TEST_HOST: elasticsearch
      ELASTIC_TEST_PORT: 9200

  e2e-tests:
    defaults:
      run:
        working-directory: web
    name: Cypress E2E tests
    runs-on: ubuntu-latest
    environment: tests
    container:
      image: cypress/browsers:24.12.0

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:17.4
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 8

      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 8

      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.28
        env:
          discovery.type: single-node
        options: >-
          --health-cmd "curl http://localhost:9200/_cluster/health"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10
        ports:
          - 9200:9200

    steps:
      - uses: actions/checkout@v5
      # Force https use since ssh does not work
      - run: 'git config --global url."https://github.com/".insteadOf ssh://git@github.com/'
      - run: 'git config --global url."https://".insteadOf ssh://'

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install deps
        run: cd .. && pnpm install --frozen-lockfile

      - name: Initialize database
        run: cd .. && pnpm migrate:up && pnpm migrate:test

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          working-directory: '${{ github.workspace }}'

      - name: Install Elasticsearch deps
        working-directory: '${{ github.workspace }}'
        run: uv sync --only-group cypress

      - name: Index elasticsearch
        working-directory: '${{ github.workspace }}'
        run: uv run --no-project python -m src.elasticsearch.reindex
        env:
          LEVEL: DEBUG

      - name: Install cypress dependencies
        run: cd cypress && pnpm install --frozen-lockfile

      # Project dependencies must be installed as cypress tsc depends on them
      - name: Install project dependencies
        run: pnpm install --frozen-lockfile

      - name: Build cypress dependencies
        run: cd cypress && pnpm run tsc

      - name: Install codecov deps
        run: apt-get update && apt-get install -y curl gpg

      - name: Build the app
        run: pnpm build-nyc
        env:
          NODE_ENV: production
          CYPRESS: true
          IS_PRERENDER: 1
          IS_CI: true

      - name: Start the app
        run: pnpm start-coverage &
        env:
          NODE_ENV: production
          CYPRESS: true
          IS_CI: true

      - uses: cypress-io/github-action@v6
        continue-on-error: true
        name: Run Cypress tests
        id: cypress-run
        with:
          browser: chrome
          working-directory: ./web/cypress
          wait-on: 'http://localhost:3000'
          config-file: cypress.config.ts

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: E2E
          name: E2E coverage
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@v6
        with:
          name: cypress-screenshots
          path: ./web/cypress/screenshots
          if-no-files-found: ignore

      - name: Fail if Cypress tests failed
        if: steps.cypress-run.outcome != 'success'
        run: exit 1

    env:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      DB_NAME_TEST: postgres
      DB_USER: postgres
      PGPASSWORD: postgres
      DB_PASSWORD: postgres

      ELASTIC_NODE: http://elasticsearch:9200
      HOST: 'http://localhost:3000'

      REDIS_URL: redis:6379
      DEBUG: debug,session-*,auth-info
      TZ: UTC
      LEVEL: silent
      SKIP_POSTINSTALL: true
      IS_CI: true
      LOGIN_RETRY_COUNT: 3
      CYPRESS: true
      COOKIE_SECRET: secret
      ENVIRONMENT: test
      DISCORD_CLIENT_ID: test
      DISCORD_CLIENT_SECRET: test
