{
  "env": {
    "test": {
      "presets": [
        "next/babel"
      ]
    },
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    }
  }
}